.skills .section-header h4 {
  color: #EFEFEF;
}
.skill-card {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 0px #D0C9C0;
  padding: 2.5rem 1.75rem;
  text-align: center;
  width: 100%;
}

.icon-wrapper img {
  width: 3.25rem;
}
.card-content {
  margin-top: 1rem;
}

.card-content h3 {
  color: var(--dark-text-color);
  /* font-size: 1.25rem; */
  font-size: 1.75rem;
  font-weight: 900;
}

.card-content p {
  margin-top: 0.75rem;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.5;
  color: var(--base-text-color);
}

.skills {
  background-attachment: fixed;
  background-color: #F1EEE9;
  background-color: #ebebeb;
  background-color: rgba(0, 0, 0, 0.8);
  /* background-color: white; */
  background-image: url('services.jpg');
  background-blend-mode: overlay;
  background-size: cover;
}